<!DOCTYPE html>
<html>
<table>
    <% for(let entry of entries) {%>
        <tr>
            <td><%= entry.postername %></td>
            <td><%= entry.title %></td>
            <td><%= entry.url %></td>
            <td><%= entry.link %></td>
            <td><%= entry.info %></td>
            <td><%= entry.comments %></td>
        </lr>
        <% } %>
</table>

</html>